<div class="divider"></div>
            
            <nav>
				<a href = "../">Charlotte.edu</a>
				||
				<a href = "https://github.com/jdiggs9" id="validation_link_html">Github</a>
				||
				<a href = "https://github.com/jdiggs9/jdiggs9.github.io" id="validation_link_html">Github.io</a>
				||
				<a href = "https://www.freecodecamp.org/jdiggs9">freeCodeCamp</a>
				||
				<a href = "https://www.codecademy.com/profiles/digital2970481421">Codecademy</a>
				||
				<a href = "https://www.linkedin.com/in/josh-diggs-857170263/">LinkedIn</a>
			</nav>
            <p class="builtBy">Page Built by <a href="digenterprises.cc/">Dig Enterprises</a> &copy; 2025, <i>Certified in <a href="https://www.freecodecamp.org/certification/jdiggs9/responsive-web-design">Responsive Web Design</a> and <a href="https://www.freecodecamp.org/certification/jdiggs9/javascript-algorithms-and-data-structures-v8">JS</a></i> </p>
            <script>
                document.getElementById("validation_link_html").setAttribute("href", "https://validator.w3.org/check?uri=" + location.href);
                document.getElementById("validation_link_css").setAttribute("href", "https://jigsaw.w3.org/check?uri=" + location.href);
            </script>