<h1>Josh Diggs's Jovial Mechanical Dodo || ITIS3135 Home</h1>
			
			<nav>
				<a href = "./">Home</a>
				||
				<a href = "introduction.html">Introduction</a>
				||
				<a href = "contract.html">Contract</a>
                ||
                <a href = "website_evaluations.html">Web Evaluations</a>
                ||
                <a href="tables.html">Tables</a>
                ||
                <a href="byo_intro.html">BYO Intro</a>
                ||
                <a href="slideshow.html">Slideshow</a>
			</nav>
            <nav>
				<a href = "jovialDodo/">Company</a>
				||
                <a href = "stuff/&Bad Web Page.htm">CRAPPY</a>
                ||
				<a href = "hobby/">Hobby</a>
			</nav>
			<div class="divider"></div>